// Generate app cert and signed provision profile

config.signtool=env:AONB_HAP_SIGN_TOOL
config.targetDir=result

common.keystoreFile=aonb-confirm.p12
common.keystorePwd=env:AONB_SIGNING_PASSWORD
common.keyAlg=ECC
common.keySize=NIST-P-256
common.signAlg=SHA256withECDSA
common.validity=365
common.outForm=certChain
common.mode=localSign

common.keyPwd=env:AONB_SIGNING_PASSWORD
common.issuerKeyPwd=env:AONB_SIGNING_PASSWORD

app.keypair.keyAlias=oh-app1-key-v1
app.keypair.keyPwd=env:AONB_SIGNING_PASSWORD

profile.keypair.keyAlias=oh-profile-key-v1
profile.keypair.keyPwd=env:AONB_SIGNING_PASSWORD

root-ca.outFile=root-ca.cer

sub-ca.app.keyAlias=oh-app-sign-srv-ca-key-v1
sub-ca.app.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Community,CN=AonB Application Signature Service CA
sub-ca.app.outFile=app-sign-srv-ca.cer

cert.app.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Community,CN=AonB Application Release
cert.app.outFile=app-release.pem

cert.profile.outFile=profile-release.pem

sign.profile.inFile=profile-unsigned.json
sign.profile.outFile=aonb-confirm.p7b

cert.app.keyAlias=$app.keypair.keyAlias
cert.app.issuer=$sub-ca.app.subject
cert.app.issuerKeyAlias=$sub-ca.app.keyAlias
cert.app.rootCaCertFile=$root-ca.outFile
cert.app.subCaCertFile=$sub-ca.app.outFile

sign.profile.keyAlias=$profile.keypair.keyAlias
sign.profile.profileCertFile=$cert.profile.outFile
