// Generate root CA, sub APP CA, sub Profile CA, profile cert

config.signtool=env:AONB_HAP_SIGN_TOOL
config.targetDir=result

common.keystoreFile=aonb-confirm.p12
common.keystorePwd=env:AONB_SIGNING_PASSWORD
common.keyAlg=ECC
common.keySize=NIST-P-256
common.signAlg=SHA256withECDSA
common.validity=365
common.outForm=certChain

common.keyPwd=env:AONB_SIGNING_PASSWORD
common.issuerKeyPwd=env:AONB_SIGNING_PASSWORD

profile.keypair.keyAlias=oh-profile-key-v1
profile.keypair.keyPwd=env:AONB_SIGNING_PASSWORD

root-ca.keyAlias=oh-root-ca-key-v1
root-ca.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Community,CN=AonB Root CA
root-ca.outFile=root-ca.cer

sub-ca.app.keyAlias=oh-app-sign-srv-ca-key-v1
sub-ca.app.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Community,CN=AonB Application Signature Service CA
sub-ca.app.outFile=app-sign-srv-ca.cer

sub-ca.profile.keyAlias=oh-profile-sign-srv-ca-key-v1
sub-ca.profile.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Community,CN=AonB Profile Signature Service CA
sub-ca.profile.outFile=profile-sign-srv-ca.cer

cert.profile.subject=C=CN,O=OpenHarmony,OU=OpenHarmony Community,CN=AonB Profile Release
cert.profile.outFile=profile-release.pem

sub-ca.app.issuer=$root-ca.subject
sub-ca.app.issuerKeyAlias=$root-ca.keyAlias
sub-ca.profile.issuer=$root-ca.subject
sub-ca.profile.issuerKeyAlias=$root-ca.keyAlias

cert.profile.keyAlias=$profile.keypair.keyAlias
cert.profile.issuer=$sub-ca.profile.subject
cert.profile.issuerKeyAlias=$sub-ca.profile.keyAlias
cert.profile.rootCaCertFile=$root-ca.outFile
cert.profile.subCaCertFile=$sub-ca.profile.outFile
