// Sign the unsigned HAP

config.signtool=env:AONB_HAP_SIGN_TOOL
config.targetDir=result

common.keystoreFile=aonb-confirm.p12
common.keystorePwd=env:AONB_SIGNING_PASSWORD
common.signAlg=SHA256withECDSA
common.mode=localSign

common.keyPwd=env:AONB_SIGNING_PASSWORD
common.issuerKeyPwd=env:AONB_SIGNING_PASSWORD

app.keypair.keyAlias=oh-app1-key-v1
app.keypair.keyPwd=env:AONB_SIGNING_PASSWORD

cert.app.outFile=app-release.pem
sign.profile.outFile=aonb-confirm.p7b

sign.app.inFile=../entry/build/default/outputs/default/entry-default-unsigned.hap
sign.app.outFile=aonb-confirm-signed.hap

sign.app.keyAlias=$app.keypair.keyAlias
sign.app.appCertFile=$cert.app.outFile
sign.app.profileFile=$sign.profile.outFile
