<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hello2">

    <application
        android:name=".HelloWorldApplication"
        android:label="hello2"
        android:icon="@android:drawable/ic_dialog_info"
        android:theme="@android:style/Theme.Material.Light">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SecondActivity"
            android:exported="false" />

        <!-- 2026-07-10: L12 视频/媒体插件楼层最小验证场景.
             见 PlayVideoActivity.java 文件头注释. -->
        <activity
            android:name=".PlayVideoActivity"
            android:exported="false" />

        <service
            android:name=".HelloService"
            android:exported="false" />

    </application>
</manifest>
