<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.alexyang.bridge-human-todo-scan</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/opt/Bridge/tools/demo_refresh.py</string>
    <string>human-todo</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>BRIDGE_DEMO_NOTIFY_HANDLE</key>
    <string>term_9abb1c00-644d-42bc-bdc4-4e11532a89d2</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>3600</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/tmp/com.alexyang.bridge-human-todo-scan.out.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/com.alexyang.bridge-human-todo-scan.err.log</string>
</dict>
</plist>
